/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  color: #00FF33;
  background-color: #282828;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #00FF33;
}

/* NAVIGATION */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
header nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 2px solid;
}
header nav a {
  text-decoration: none;
  font-weight: 700;
}
header nav ul {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: center;
}
header nav ul li {
  display: flex;
  margin: 0 0.5em;
}
header nav ul li:last-of-type {
  display: flex;
  margin-right: 0;
}

/* CONTENT */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
section:nth-child(even) {
  background-color: #565656;
}