/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  color: #00FF33;
  background-color: #282828;
}
body > * > * > div, body > * > * nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 + * {
  padding-top: 1rem;
}

a {
  color: #00FF33;
}

img {
  filter: grayscale(100%);
  max-width: 100%;
}

/* NAVIGATION */
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
header nav {
  display: flex;
  padding: 1rem 0;
  border-bottom: 2px solid;
  align-items: center;
}
header nav a {
  text-decoration: none;
  font-weight: 700;
}
header nav ul {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: center;
}
header nav ul li {
  display: flex;
  margin: 0 0.5em;
}
header nav ul li:last-of-type {
  display: flex;
  margin-right: 0;
  padding: 0.375rem 0.75rem;
  background-color: #00FF33;
  border-radius: 3px;
}
header nav ul li:last-of-type a {
  color: #000;
}

@media only screen and (max-width: 768px) {
  header nav {
    position: relative;
    justify-content: space-between;
  }
  header nav ul {
    display: none;
    text-align: end;
  }
  header nav ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 110%;
    align-items: flex-end;
  }
  header nav ul li {
    margin: 0;
  }
}
/* CONTENT */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(even) {
  background-color: #565656;
}
section.flex-50 > div {
  display: flex;
}
section.flex-50 > div > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
}
section.flex-50 > div > article:first-of-type {
  padding: 0 0.5rem 0 0;
}
section.flex-50 > div > article:last-of-type {
  padding: 0 0 0 0.5rem;
}
section .project-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "project-one project-two project-two" "project-one project-five project-three" "project-four project-four project-three";
  height: 75%;
}
section .project-grid > article {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #444;
  text-decoration: none;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
}
section .project-grid .grid-project-one {
  grid-area: project-one;
}
section .project-grid .grid-project-two {
  grid-area: project-two;
}
section .project-grid .grid-project-three {
  grid-area: project-three;
}
section .project-grid .grid-project-four {
  grid-area: project-four;
}
section .project-grid .grid-project-five {
  grid-area: project-five;
}

@media only screen and (max-width: 768px) {
  section.flex-50 > div {
    flex-direction: column;
  }
  section.flex-50 > div > article:first-of-type {
    padding: 0 0 0.5rem 0;
  }
  section.flex-50 > div > article:last-of-type {
    padding: 0.5rem 0 0 0;
  }
}