/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    color: #00FF33;
    background-color: #282828;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #00FF33;
}



/* NAVIGATION */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    
    nav {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem 0;
        border-bottom: 2px solid;

        a {
            text-decoration: none;
            font-weight: 700;
        }

        ul {
            display: flex;
            margin: 0;
            margin-left: auto;
            padding: 0;
            align-items: center;

            li {
                display: flex;
                margin: 0 0.5em;

                &:last-of-type {
                    display: flex;
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        
        nav {
            position: relative;
            justify-content: space-between;
    
            ul {
                display: none;
                text-align: end;

                &.active {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 0;
                    top: 110%;
                    align-items: flex-end;
                }

                li {
                    margin: 0;
                }
            }
        }
    }
}



/* CONTENT */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    &:nth-child(even) {
        background-color: #565656;
    }
}